html {
  font-family: Georgia, serif;
  background-color: #495562;
  color: #fff;
}

.btn {
  background-color: #495562;
  border-color: #97a49b;
}

.btn.hover {
  color: #efefef;
}

@media only screen and (min-width: 42em) {

  .banner {
    position: relative;
    width: 100%;
    max-height: 500px;
    overflow: hidden;
  }

  .banner-content {
    position: absolute;
    max-width: 50em;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: -webkit-linear-gradient(rgba(73, 85, 98, 0), rgba(73, 85, 98, .8));
    background-image: -o-linear-gradient(rgba(73, 85, 98, 0), rgba(73, 85, 98, .8));
    background-image: linear-gradient(rgba(73, 85, 98, 0), rgba(73, 85, 98, .8));
  }

  .parahraph {
    max-width: 25em;
  }

}
