html {
  font-family: Georgia, serif;
  background-color: #495562;
  color: #fff;
}

.btn {
  background-color: #495562;
  border-color: #97a49b;
}


@media only screen and (min-width: 42em) {

img {
  background-image: linear-gradient(rgba(73, 85, 98, 0));
}

.banner {
  position: relative;
  width: 100%;
  max-width: 50em;
  max-height: 500px;
  overflow: hidden;
}

.banner-content {
  position: absolute;
  max-width: 25em;
  bottom: 0;
  left: 0;

}

}
